header{
    font-weight: bold;
    font-size: 50px;
    margin-left: 600px;
}
label{
    font-size: 30px;
    align-items: center;
}
select{
    font-size: 20px;
    margin-left: 10px;
}
.navLink{
    margin: 10px;
    font-size: 20px;
}
table{
    margin-left: 450px;
    font-size: 40px;
}
.homePageText{
    align-items: baseline;
    font-size: 50px;
    font-weight: bold;
    color: blue;
}